h1 {
    background: black;
    color: green;
}

main {
    background: #30e849;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


p {
    background:black;
    color: red;
}

h2 {
    background: gray;
    color: black;
}